<!DOCTYPE html>
<html>

<head>
    <title>Fish Weight Predictor</title>
</head>

<body>
    <h2>Fish Weight Prediction</h2>
    <form action="/predict" method="post">
        <label>Species:</label><input type="text" name="Species"><br>
        <label>Length1:</label><input type="text" name="Length1"><br>
        <label>Length2:</label><input type="text" name="Length2"><br>
        <label>Length3:</label><input type="text" name="Length3"><br>
        <label>Height:</label><input type="text" name="Height"><br>
        <label>Width:</label><input type="text" name="Width"><br>
        <input type="submit" value="Predict">
    </form>
</body>

</html>
